*{
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
  
}

.datas{
  width: 400px;
  border: 3px solid black;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 50px;
}

.inputs{
  margin-left: 50px;
  margin-top: 50px;
  width: 400px;
  display: block;
  border: 3px solid black;
  border-radius: 10px;
}

input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
}

h1{
  font-size: 2em;
}

.cars{
  display: flex;
}
p{
  margin: 30px;
}

button{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 0;
  background-color: deepskyblue;
  font-size: 1.5em;
  width: 300px;
}